#loading-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 50;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
}

#loading-container.hidden {
    display: none;
}

.loading-box {
    flex: 0 0 auto;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.loading-element-container {
    position: relative;
    width: 150px;
    height: 150px;
    /*display: flex;*/
    /*align-items: center;*/
    /*justify-content: space-between;*/
}

.loading-element {
    /*flex: 0 0 30px;*/
    width: 120px;
    height: 120px;
    border-top: 2px solid #00a7e2;
    /*background-color: #00a7e2;*/
    animation: loading-animation 1s ease-out infinite;
    transform: translate(0, 0) scale(1);
    opacity: 1;
    border-radius: 50%;

    position: absolute;
    top: 0;
    left: 0;
}

.loading-element:nth-child(2) {
    width: 100px;
    height: 100px;
    top: 10px;
    left: 10px;
    animation-delay: 0.2s;
}

.loading-element:nth-child(3) {
    width: 80px;
    height: 80px;
    top: 20px;
    left: 20px;
    animation-delay: 0.3s;
}

.loading-element:nth-child(4) {
    width: 60px;
    height: 60px;
    top: 30px;
    left: 30px;
    animation-delay: 0.4s;
}

.loading-element:nth-child(5) {
    width: 40px;
    height: 40px;
    top: 40px;
    left: 40px;
    animation-delay: 0.5s;
}

.loading-element:nth-child(6) {
    width: 20px;
    height: 20px;
    top: 50px;
    left: 50px;
    animation-delay: 0.6s;
}

#name-input-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 30;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: scale(1, 1);
    transition: transform 0.5s ease-out;
}

#name-input-container.hidden {
    transform: scale(0, 0);
}

.name-input-box {
    flex: 0 0 auto;
    text-align: center;
}

.name-input {
    -webkit-appearance: none;
    width: 100%;
    border: 0;
    font-family: inherit;
    padding: 12px 0;
    height: 48px;
    font-size: 20px;
    background: none;
    border-radius: 0;
    color: #0e3049;
    transition: all 0.15s ease;
    font-weight: 500;
    border-bottom: 2px solid #c5d5c6;
    text-align: center;
}

.name-input:hover {
    background: rgba(34, 50, 84, 0.03);
}

.name-input:not(:placeholder-shown) + span {
    color: #5a667f;
    transform: translateY(-26px) scale(0.75);
}

.name-input:focus {
    background: none;
    outline: none;
}

.name-input:focus + span {
    color: #07f;
    transform: translateY(-26px) scale(0.75);
}

.name-input:focus + span + .border {
    transform: scaleX(1);
}

.user-chat-input-container {
    margin-bottom: 20px;
}

.chat-form {
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding: 0 20px;
}

.chat-input {
    -webkit-appearance: none;
    border: 0;
    font-family: inherit;
    padding: 12px 0;
    height: 10px;
    font-size: 16px;
    background: none;
    border-radius: 0;
    color: #0e3049;
    transition: all 0.15s ease;
    font-weight: 500;
    border-bottom: 2px solid #c5d5c6;
    text-align: center;
    flex: 0 0 300px;
}

.chat-input:hover {
    background: rgba(34, 50, 84, 0.03);
}

.chat-input:not(:placeholder-shown) + span {
    color: #5a667f;
    transform: translateY(-26px) scale(0.75);
}

.chat-input:focus {
    background: none;
    outline: none;
}

.chat-input:focus + span {
    color: #07f;
    transform: translateY(-26px) scale(0.75);
}

.chat-input:focus + span + .border {
    transform: scaleX(1);
}

.chat-send-button {
    color: #00a7e2;
    text-transform: uppercase;
    background: #ffffff;
    padding: 10px 20px;
    border: 4px solid #00a7e2;
    border-radius: 5px;
    display: inline-block;
    transition: transform 0.3s ease 0s, border-radius 0.3s ease 0s, border-color 0.3s ease 0s;
    cursor: pointer;
    margin: 0;
    flex: 0 0 auto;
}

.chat-send-button:hover {
    color: #00bcff !important;
    border-color: #00bcff !important;
    transform: scale(1.2, 1.2);
}

.user-chat-file {
    display: flex;
    justify-content: space-around;
}

.chat-file-form {
    flex: 0 0 auto;
}

.chat-video-button {
    flex: 0 0 auto;
    color: #00a7e2;
    text-transform: uppercase;
    background: #ffffff;
    padding: 10px 20px;
    border: 4px solid #00a7e2;
    border-radius: 5px;
    display: inline-block;
    transition: transform 0.3s ease 0s, border-radius 0.3s ease 0s, border-color 0.3s ease 0s;
    cursor: pointer;
    margin: 0;
}

.chat-video-button:hover {
    color: #00bcff !important;
    border-color: #00bcff !important;
    transform: scale(1.2, 1.2);
}

.chat-file-input {
    flex: 0 0 auto;
    color: #00a7e2;
    text-transform: uppercase;
    background: #ffffff;
    padding: 10px 20px;
    border: 2px solid #00a7e2;
    border-radius: 5px;
    display: inline-block;
    transition: transform 0.3s ease 0s, border-radius 0.3s ease 0s, border-color 0.3s ease 0s;
    cursor: pointer;
    margin: 0;
}

.chat-file-input:hover {
    color: #00bcff !important;
    border-color: #00bcff !important;
    transform: scale(1.2, 1.2);
}

.name-label-cont {
    margin: 20px 0;
    font-size: 20px;
    color: #424045;
}

.user-name-button {
    color: #00a7e2;
    text-transform: uppercase;
    background: #ffffff;
    padding: 10px 20px;
    border: 4px solid #00a7e2;
    border-radius: 5px;
    display: inline-block;
    transition: transform 0.3s ease 0s, border-radius 0.3s ease 0s, border-color 0.3s ease 0s;
    cursor: pointer;
    margin: 20px 0;
}

.user-name-button:hover {
    color: #00bcff !important;
    border-color: #00bcff !important;
    transform: scale(1.2, 1.2);
}

#main-app-container {
    z-index: 10;
    display: flex;
    padding: 30px 60px;
    justify-content: space-between;
}

#main-app-container.hidden {
    display: none;
}

.user-list-container {
    flex: 0 0 40%;
}

.users-container {
    padding: 20px 30px;
    border: 2px solid #00a7e2;
    height: 550px;
}

.user-list {
    list-style: none;
    padding: 0;
    overflow: auto;
    height: 100%;
    width: 100%;
    pointer-events: none;
}

.user-list-element {
    border-bottom: 1px dashed #00a7e2;
    margin: 10px 0;
    cursor: pointer;
    pointer-events: all;
}

.user-list-element.selected {
    cursor: default;
    pointer-events: none;
    background-color: #ced8f4;
}

.user-list-div {
    padding: 10px 20px;
    pointer-events: none;
    position: relative;
}

.user-list-element.has-unread .user-list-unread {
    display: block;
}

.user-list-unread {
    width: 15px;
    height: 15px;
    background-color: #d81313;
    border-radius: 50%;
    position: absolute;
    top: 10px;
    right: 20px;
    display: none;
}

.chat-container {
    flex: 0 0 40%;
    padding: 20px 30px;
    border: 2px solid #00a7e2;
    height: 550px;
    position: relative;
    overflow: hidden;
}

.user-chat-waiting {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 20;
    background-color: #ffffff;
    text-align: center;
    font-size: 24px;
}

.waiting-message {
    padding-top: 50px;
}

.user-chat-waiting.hidden {
    display: none;
}

.message-cont {
    height: 75%;
    border-bottom: 1px dashed #00a7e2;
    overflow-y: scroll;
    margin-right: -80px;
    padding-right: 60px;
}

.user-chat-actions {
    padding: 20px 0;
}

@media only screen and (max-width: 1035px) {
    #main-app-container {
        flex-wrap: wrap;
        justify-content: center;
    }

    .user-list-container {
        flex: 0 0 auto;
        margin: 20px 0;
        width: 80%;
    }

    .chat-container {
        flex: 0 0 auto;
        width: 80%;
    }
}

.message-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.message-list-item {
    display: flex;
    margin-bottom: 40px;
}

.message-list-item.right {
    flex-direction: row-reverse;
}

.message-item-text {
    position: relative;
    background: #ced8f4;
    border-radius: .4em;
    color: #000000;
    padding: 5px 10px;
    transform-origin: left bottom;
    animation: text-popup-animation 0.3s linear 0s 1 normal;
}

.message-item-text:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 20px;
    width: 0;
    height: 0;
    border: 20px solid transparent;
    border-top-color: #ced8f4;
    border-bottom: 0;
    border-left: 0;
    margin-left: -10px;
    margin-bottom: -20px;
}

.message-list-item.right .message-item-text {
    background: #00a7e2;
    color: #ffffff;
    transform-origin: right bottom;
}

.message-list-item.right .message-item-text:after {
    left: auto;
    right: 20px;
    border-left: 20px solid;
    border-right: 0;
    border-top-color: #00a7e2;
}

.message-item-date {
    font-size: 12px;
    margin-top: 8px;
    opacity: 0.6;
}

.modal-cont {
    position: fixed;
    z-index: 100;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-cont.hidden {
    display: none;
}

.modal {
    flex: 0 1 800px;
    background-color: #ffffff;
    border-radius: 20px;
    padding: 50px 20px;
    animation: modal-popup-animation 0.3s ease-out 0s 1 normal;
}

.confirm-modal {
    width: 100%;
    height: 100%;
}

.confirm-modal.hidden {
    display: none;
}

.confirm-modal-text {
    text-align: center;
    font-size: 24px;
    margin: 30px 0;
}

.confirm-buttons {
    margin: 100px 0;
    padding: 0 50px;
    display: flex;
    justify-content: space-between;
}

.refuse-button {
    flex: 0 0 auto;
    color: #b40c12;
    text-transform: uppercase;
    background: #ffffff;
    padding: 10px 20px;
    border: 4px solid #b40c12;
    border-radius: 5px;
    display: inline-block;
    transition: transform 0.3s ease 0s, border-radius 0.3s ease 0s, border-color 0.3s ease 0s;
    cursor: pointer;
    margin: 0;
}

.refuse-button:hover {
    color: #ea0c12 !important;
    border-color: #ea0c12 !important;
    transform: scale(1.2, 1.2);
}

.accept-button {
    flex: 0 0 auto;
    color: #00a7e2;
    text-transform: uppercase;
    background: #ffffff;
    padding: 10px 20px;
    border: 4px solid #00a7e2;
    border-radius: 5px;
    display: inline-block;
    transition: transform 0.3s ease 0s, border-radius 0.3s ease 0s, border-color 0.3s ease 0s;
    cursor: pointer;
    margin: 0;
}

.accept-button:hover {
    color: #00bcff !important;
    border-color: #00bcff !important;
    transform: scale(1.2, 1.2);
}

.video-modal {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.video-modal.hidden {
    display: none;
}

.video-element {
    max-width: 100%;
    max-height: 100%;
}

.video-buttons {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    padding-bottom: 30px;
}

.close-button {
    flex: 0 0 auto;
    color: #b40c12;
    text-transform: uppercase;
    background: #ffffff;
    padding: 8px 16px;
    border: 2px solid #b40c12;
    border-radius: 5px;
    display: inline-block;
    transition: transform 0.3s ease 0s, border-radius 0.3s ease 0s, border-color 0.3s ease 0s;
    cursor: pointer;
    margin: 0;
}

.close-button:hover {
    color: #ea0c12 !important;
    border-color: #ea0c12 !important;
    transform: scale(1.2, 1.2);
}

.user-calling-modal {
    display: flex;
    align-items: center;
    justify-content: center;
}

.user-calling-modal.hidden {
    display: none;
}

.user-calling-text {
    text-align: center;
    font-size: 24px;
}

@keyframes loading-animation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes text-popup-animation {
    0% {
        transform: scale(0);
    }

    70% {
        transform: scale(1.1);
    }

    80% {
        transform: scale(0.9);
    }

    90% {
        transform: scale(1.05);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes modal-popup-animation {
    0% {
        transform: scale(0);
    }

    70% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}
