<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="./index.css">
  <title>PiW</title>
</head>
<body>
<div id="app">
  <div class="container">
    <div id="loading-container">
      <div class="loading-box">
        <div class="loading-element-container">
          <div class="loading-element"></div>
          <div class="loading-element"></div>
          <div class="loading-element"></div>
          <div class="loading-element"></div>
          <div class="loading-element"></div>
          <div class="loading-element"></div>
        </div>
      </div>
    </div>

    <div id="name-input-container" class="hidden">
      <div class="name-input-box">
        <form action="javascript:setUserName();">
          <input type="text" placeholder="Name" class="name-input" id="user-name-input">
          <div class="name-label-cont">
            <label class="name-input-label" for="user-name-input">Set a name</label>
          </div>
          <button class="user-name-button">Set</button>
        </form>
      </div>
    </div>

    <div id="main-app-container" class="hidden">
      <div class="user-list-container">
        <div class="users-container">
          <ul id="user-list-box" class="user-list">
            <!--<li class="user-list-element" id="el1" data-user-id="id1">-->
              <!--<div class="user-list-div">User 1</div>-->
            <!--</li>-->
            <!--<li class="user-list-element" id="el2" data-user-id="id2">-->
              <!--<div class="user-list-div">User 2</div>-->
            <!--</li>-->
            <!--<li class="user-list-element" id="el3" data-user-id="id3">-->
              <!--<div class="user-list-div">User 3</div>-->
            <!--</li>-->
            <!--<li class="user-list-element" id="el4" data-user-id="id4">-->
              <!--<div class="user-list-div">User 4</div>-->
            <!--</li>-->
            <!--<li class="user-list-element" id="el5" data-user-id="id5">-->
              <!--<div class="user-list-div">User 5</div>-->
            <!--</li>-->
            <!--<li class="user-list-element" id="el6" data-user-id="id6">-->
              <!--<div class="user-list-div">User 6</div>-->
            <!--</li>-->
          </ul>
        </div>
      </div>
      <div id="user-chat-container" class="chat-container">
        <div id="chat-waiting-container" class="user-chat-waiting">
          <div class="waiting-message">
            Select an user
          </div>
        </div>
        <div id="user-message-container" class="message-cont"></div>
        <div class="user-chat-actions">
          <div class="user-chat-action user-chat-input-container">
            <form action="javascript:;">
              <input type="text" placeholder="Type here">
            </form>
          </div>
          <div class="user-chat-action user-chat-file">
            <form action="javascript:;">
              <input type="file">
            </form>
          </div>
          <div class="user-chat-action user-chat-camera">
            <button>Video</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script src="./lib/domManipulation.js"></script>
<script src="./lib/messageParser.js"></script>
<script src="./lib/domEvents.js"></script>
<script src="./lib/Piw.js"></script>
<script src="./lib/peerConnections.js"></script>
<script src="./index.js"></script>
</body>
</html>