<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="./index.css">
  <title>PiW</title>
</head>
<body>
<div id="app">
  <div class="container">
    <div id="loading-container">
      <div class="loading-box">
        <div class="loading-element-container">
          <div class="loading-element"></div>
          <div class="loading-element"></div>
          <div class="loading-element"></div>
          <div class="loading-element"></div>
          <div class="loading-element"></div>
          <div class="loading-element"></div>
        </div>
      </div>
    </div>

    <div id="name-input-container" class="hidden">
      <div class="name-input-box">
        <form action="javascript:setUserName();">
          <input type="text" placeholder="Name" class="name-input" id="user-name-input">
          <div class="name-label-cont">
            <label class="name-input-label" for="user-name-input">Set a name</label>
          </div>
          <button class="user-name-button">Set</button>
        </form>
      </div>
    </div>

    <div id="main-app-container" class="hidden">
      <div class="user-list-container">
        <div class="users-container">
          <ul id="user-list-box" class="user-list">
          </ul>
        </div>
      </div>
      <div id="user-chat-container" class="chat-container">
        <div id="chat-waiting-container" class="user-chat-waiting">
          <div class="waiting-message">
            Select an user
          </div>
        </div>

        <div id="user-message-container" class="message-cont">
          <ul id="message-list" class="message-list"></ul>
        </div>

        <div class="user-chat-actions">
          <div class="user-chat-action user-chat-input-container">
            <form action="javascript:;" class="chat-form" id="chat-message-form">
              <input type="text" placeholder="Type here" id="text-message-input" class="chat-input"
                     autocomplete="off">
              <button class="chat-send-button" type="submit">Send</button>
            </form>
          </div>
          <div class="user-chat-action user-chat-file">
            <form action="javascript:;">
              <input type="file">
            </form>
            <div class="user-chat-action user-chat-camera">
              <button>Video</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script src="./lib/domManipulation.js"></script>
<script src="./lib/messageParser.js"></script>
<script src="./lib/domEvents.js"></script>
<script src="./lib/Piw.js"></script>
<script src="./lib/peerConnections.js"></script>
<script src="./index.js"></script>
</body>
</html>