<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Docs</title>
</head>
<body>
  <header>
    <h1>Progress report</h1>
  </header>

  <div role="contentinfo">
    <section typeof="sa:AuthorsList">
      <h2>Authors</h2>
      <ul>
        <li typeof="sa:ContributorRole" property="schema:author">
          <span typeof="schema:Person" resource="https://github.com/robecor">
            <meta property="schema:givenName" content="Robert">
            <meta property="schema:additionalName" content="Cozmin">
            <meta property="schema:familyName" content="Corolea">
            <span property="schema:name">Corolea Robert-Cozmin</span>
          </span>
          <ul>
            <li property="schema:roleContactPoint" typeof="schema:ContactPoint">
              <a href="mailto:robert.corolea@cultofcoders.com" property="schema:email">
                robert.corolea@cultofcoders.com
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </section>
    <section>
      <h2>Content</h2>
      <ol role="directory">
        <li>
          <a href="#introduction-section">1. Introduction</a>
        </li>
        <li>
          <a href="#planning-section">2. Planning</a>
        </li>
        <li>
          <a href="#server-section">3. Server implementation</a>
        </li>
        <li>
          <a href="#client-section">4. Client implementation</a>
        </li>
        <li>
          <a href="#framework-section">5. Framework implementation</a>
        </li>
        <li>
          <a href="#practic-section">6. Practical applications</a>
        </li>
      </ol>
    </section>
  </div>

  <section typeof="sa:Abstract" id="introduction-section" role="doc-introduction">
    <h2>1. Introduction</h2>
    <p>
      In this document I will present the evolution of the project development.
      I will also showcase some practical applications for the project.
    </p>
  </section>

  <section id="planning-section">
    <h2>2. Planning</h2>
    <p>
      From the start the plan was to implement a framework that would manage a client pool communication using the peer-to-peer technology. For this we needed
      the RtcPeerConnection API that javascript offers. With its help we could transfer text, files and even video/audio data to other clients without a intermediate server.
    </p>
    <p>
      The only use for a server here was for client negotiation, necessary for the initial connection. After that the server could be stopped and the users could still share information.
      To showcase the framework I needed an idea of an app whose purpose was to connect users and let them transfer different types of data. That is how I came up with a simple chat web app where
      you could send texts to each other, share files and even start a one on one video live session.
    </p>
  </section>

  <section id="server-section">
    <h2>3. Server implementation</h2>
    <p>
      The first part that was necessary was the sever implementation. For this I opted for NodeJS, because of its simplicity. I started with express for the static HTML files and documentation.
      The app follows the SAP implementation, so there was only one main page that was served at the <code>/</code> route. Besides that there are also the documentation files that have their own routes.
    </p>
    <p>
      Besides express I also used websockets, useful for the initial negotiation between clients as well as for keeping them up to date with who is online.
      The communication between the server and client is done using a stringified JSON format, that contains the action needed and the data parsed.
      The format looks something like this:
    </p>
    <figure typeof="schema:SoftwareSourceCode">
      <pre>
        <code>
          {
            "action": "action-example",
            "data": {
              ...parsed data
            }
          }
        </code>
      </pre>
    </figure>
    <p>
      The <code>action</code> field is used to determine what action the user wants to take and <code>data</code> will contain information data needed for that action.
      For example if the client wants to set a name for himself he will send the following JSON:
    </p>
    <figure typeof="schema:SoftwareSourceCode">
      <pre>
        <code>
          {
            "action": "user.setName",
            "data": {
              "name": "Some name"
            }
          }
        </code>
      </pre>
    </figure>
    <p>
      <code>action</code> tells the server that the user wants to set his/her name and the data objects contains the name. The server responds back using the same format.
    </p>
  </section>

  <section id="client-section">
    <h2>4. Client implementation</h2>
    <p>
      On the client side of things, the browser connects to the server using the Websocket API and sends requests ast stringified JSON data, in the format specified in the server section.
      The application is done in the SPA manner so all the UI is in the <code>index.html</code> file.
    </p>
    <p>
      For the DOM manipulation logic and event listeners I've created separate services, that are used to manage this. The first step was to create a spinner element used for when we
      await a response from the server. Following that we have the form for the user to input a name that will be set.
      At this stage the client is still using the Websocket API for communication.
    </p>
    <p>
      In the next stage the server sends the list with the active users so that we can populate them in the list using the DOM manipulation service.
      The JSON message for that will look something like this:
    </p>
    <figure typeof="schema:SoftwareSourceCode">
      <pre>
        <code>
          {
            action: "user.list",
            data: {
              users: list-of-users
            }
          }
        </code>
      </pre>
    </figure>
    <p>
      In order to populate the list with users, in the service I've iterated over the array and created a list item element, that contains the name of the user and the status.
    </p>
    <p>
      Besides the user list we have the chat interface containing a container for the message list, input for the text, one for the file, and a button to start the video call.
      The container for the messages with populate as long as the message are coming and it will auto-scroll to the latest message. Each message bubble has a pop-up animation that
      was done using CSS3 animation.
      I've aligned the bubbles so that those of the user are on the left side and those of the conversation partner on the right side.
    </p>
    <p>
      To write messages I've used a simple form with an input that submit on enter key. The service for the event listeners captures that and propagates the text to be further sent to the connection.
    </p>
  </section>

  <section id="framework-section">
    <h2>5. Framework implementation</h2>
    <p>
      The base of the framework is the RtcPeerConnection API that uses SDP and ICE candidate to negotiate a connection between two peers.
      The first step is to generate an offer by using the <code>RtcPeerConnection.generateOffer</code> method and then sending that to the other user through websocket.
      On the other side the offer will be processed using the <code>processOffer</code> method and then an answer will be generated as a result, then that will be sent back to the initial peer to
      process it with the <code>processAnswer</code> method.
    </p>
    <p>
      After the initial negotiation each peer with start generating ICE candidate, that are used to locate the network of each client. We catch the candidates using the
      <code>peerConnection.addEventListener("iceconnectionstatechange", callback)</code> and send each one of those to the other peer for the final step for the peer connection.
    </p>
    <p>
      In order to send text and files we create a data channel from the rtc connection using the <code>createDataChannel("channel name")</code>.
      The <code>onmessage</code> event is used to capture messages from the other peer and the <code>send</code> method is used to send text or files through the data channel.
    </p>
    <p>
      When it comes to the live video call the first step is to make the browser take control of the camera (if it exists). To accomplish this we call the <code>navigator.mediaDevices.getUserMedia</code>
      method, that is a native API call for the media devices. This returns a promise where when can capture the stream and send it throught the peer connection through the <code>addTrack</code>
      method.
      At this stage the sdp configuration needs to be re-negotiated. This means we call the methods necessary to generate and process sdp again and make the piers exchange information again.
      An important note here is that the user that started the call needs to be the one to first  generate the sdp.
    </p>
  </section>

  <section id="practic-section">
    <h2>6. Practical applications</h2>
    <p>
      The application has practical uses for information exchange, such as chat rooms, hubs, etc.
      The peer-to-peer connection is useful for file transfers between clients with out the need for a server.
      The live video can be used for business video coferences, one to one call between friends and family.
      WebRTC also offer screen sharing capabilities.
    </p>
  </section>
</body>
</html>